	.myimg{
				border: 1px solid black;
				border-radius: 50%;
				width: 200px;
				}
		.background{
				background-color: black;
				color:white;
				box-shadow:0px 0px 20px 0px gray;
				border-radius:10px;
				}
		.BoxResume{
			border:2px solid black;
			padding:20px;
			background-color:white;
			
		}